@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/typography";

.card {

    // FUNCTIONALITY
    perspective: 150rem !important;
    -moz-perspective: 150rem !important;
    position: relative !important;
    height: 52rem !important;

    &__side {
        height: 52rem !important;
        transition: all .8s ease !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        -webkit-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
        border-radius: 3px !important;
        overflow: hidden !important;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15) !important;

        &--front {
            background-color: $color-white !important;
        }

        &--back {
            transform: rotateY(180deg) !important;

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark) !important;
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark) !important;
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark) !important;
            }
        }
    }


    &:hover &__side--front {
        transform: rotateY(-180deg) !important;
    }

    &:hover &__side--back {
        transform: rotateY(0) !important;
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover !important;
        height: 23rem !important;
        background-blend-mode: screen !important;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%) !important;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%) !important;
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
                url(../../../../public/img-1.png) !important;
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
                url(../../../../public/img-2.png) !important;
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
                url(../../../../public/img-3.png) !important;
        }
    }

    &__heading {
        font-size: 2.8rem !important;
        font-weight: 300 !important;
        text-transform: uppercase !important;
        text-align: right !important;
        color: $color-white !important;
        position: absolute !important;
        top: 12rem !important;
        right: 2rem !important;
        width: 75% !important;

    }

    &__heading-span {
        padding: 1rem 1.5rem !important;
        -webkit-box-decoration-break: clone !important;
        box-decoration-break: clone !important;

        &--1 {
            background-image: linear-gradient(to right bottom,
                    rgba($color-secondary-light, .85),
                    rgba($color-secondary-dark, .85)) !important;
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
                    rgba($color-primary-light, .85),
                    rgba($color-primary-dark, .85)) !important;
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
                    rgba($color-tertiary-light, .85),
                    rgba($color-tertiary-dark, .85)) !important;
        }
    }

    &__details {
        padding: 3rem !important;

        ul {
            list-style: none !important;
            width: 80% !important;
            margin: 0 auto !important;

            li {
                text-align: center !important;
                font-size: 1.5rem !important;
                padding: 1rem !important;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2 !important;
                }
            }
        }
    }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 90% !important;
        text-align: center !important;
    }

    &__price-box {
        text-align: center !important;
        color: $color-white !important;
        margin-bottom: 8rem !important;
    }

    &__price-only {
        font-size: 1.4rem !important;
        text-transform: uppercase !important;
    }

    &__price-value {
        font-size: 6rem !important;
        font-weight: 100 !important;
    }





    //@include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {

        height: auto !important;
        border-radius: 3px !important;
        background-color: $color-white !important;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15) !important;

        &__side {
            height: auto !important;
            position: relative !important;
            box-shadow: none !important;

            &--back {
                transform: rotateY(0) !important;
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%) !important;
            }
        }

        &:hover &__side--front {
            transform: rotateY(0) !important;
        }


        &__details {
            padding: 1rem 3rem !important;
        }

        // FRONT SIDE STYLING
        &__cta {
            position: relative !important;
            top: 0% !important;
            left: 0 !important;
            transform: translate(0) !important;
            width: 100% !important;
            padding: 7rem 4rem 4rem 4rem !important;
        }

        &__price-box {
            margin-bottom: 3rem !important;
        }

        &__price-value {
            font-size: 4rem !important;
        }
    }

}